<IfModule mod_rewrite.c>
#Options -Multiviews
RewriteEngine On

#RewriteCond %{THE_REQUEST} /public/([^\s?]*) [NC]
RewriteRule ^$ public/ [L]
RewriteRule (.*) public/$1 [L]

#RewriteRule ^((?!public/).*)$ public/$1 [L,NC]

</IfModule>
